.pokemon-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  max-width: 960px;
  margin: 10px auto;
}

li {
  margin: 30px auto;
  border: 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 20px;
  border-radius: 12px;
  height: 80px;
  width: 160px;
}

li:hover {
  border-left: 4px solid #2a75bb;
}

.name {
  color: #777;
  font-size: 1.1em;
}
.number {
  margin-right: auto;
  margin-left: 10px;
  color: #777;
  font-weight: bold;
  font-size: 1.1em;
}
